{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->

	<!--Let browser know website is optimized for mobile-->
	<meta name="theme-color" content="#111">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel ="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/exercise_timer.css' %}">
	<body>
		<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Push-up</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="sass.html">Sass</a></li>
				<li><a href="badges.html">Components</a></li>
				<li><a href="collapsible.html">JavaScript</a></li>
			</ul>
		</div>
	</nav>
		<button class="next-tab">
			NEXT ROUTINE
		</button>



		<div id="all" class="col s12 white">
			<video width="100%" controls class="exercise-video">
				<source src="{% static 'exercise/Handstand-pushup-wall-assisted.mp4' %}" type="video/mp4">
					Your browser does not support the video tag.
				</video>

				<div id="chronoExample">
					<div class="values exercise-time">00:00:00</div>
					<div class="row start-button">
						<button class="startButton col s4 offset-s4 btn start">Start</button>
					</div>
				</div>
			</div>
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
			{% block script %}
			{% endblock %}

			<script type="text/javascript"> 
				$(function(){
					$('#people').click(function(){
						location.replace("/people"); 
					});
					$('#routine').click(function(){
						location.replace("/routine"); 
					});
					$('#mypage').click(function(){
						location.replace("/mypage"); 
					});
				});
			</script>
			<script src="{% static 'js/counter.min.js' %}"></script>
			<script>
				var timer = new Timer();
				$('#chronoExample .startButton').click(function () {
					timer.start();
				});
				$('#chronoExample .pauseButton').click(function () {
					timer.pause();
				});
				$('#chronoExample .stopButton').click(function () {
					timer.stop();
				});
				timer.addEventListener('secondsUpdated', function (e) {
					$('#chronoExample .values').html(timer.getTimeValues().toString());
				});
				timer.addEventListener('started', function (e) {
					$('#chronoExample .values').html(timer.getTimeValues().toString());
				});
			</script>
		</body>
		</html>