{% extends "main/base.html" %}
{% load staticfiles %}
{% block style %}
<link rel ="stylesheet" href="{% static 'css/people.css' %}" />
{% endblock %}
{% block content %}
<div class="bottom-tab">
	<ul class="tabs">
		<li class="tab col s3"><a  href="/" id="feed"><i class="material-icons">dashboard</i></a></li>
		<li class="tab col s3"><a href= "/people"><i class="material-icons">group</i></a></li>
		<li class="tab col s3"><a href="/routine"  id="routine"  class="active"><i class="material-icons">directions_run</i></a></li>
		<li class="tab col s3"><a href="/mypage"  id="mypage"><i class="material-icons">timelapse</i></a></li>
	</ul>
</div>
<div class="sub-tab">
	<ul class="tabs">
		<li class="tab col s6"><a  href="#all" class="active">ALL</a></li>
		<li class="tab col s6"><a href= "#search">Search</a></li>
	</ul>
</div>

<div class="contain container">
	<div class="fixed-action-btn">
		<a class="btn-floating btn-large ">
			<i class="large material-icons">mode_edit</i>
			</a>
	</div>
	<div class="row">
		<div id="all" class="col s12 no-padding">
		{% for routine in routines%}
			<div class="card">
				<div class="card-action card-routine">
					<span class="card-routine-title">{{ routine.routine_name }}</span>
					<br />
					<span>{{ routine.routine_detail }}</span>
				</div>
				<div class="card-action">
					<div class="row no-margin">
						<div class="col s1">
							<a><i class="material-icons timer-icon">timer</i></a>
						</div>
						<div class="col s3">
							<span class="timer">{{ routine.routine_time }}</span>
						</div>
						<div class="col s1">
							<a><i class="material-icons timer-icon">favorite</i></a>
						</div>
						<div class="col s2">
							<span class="timer">10</span>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div id="search" class="col s12">Test 2</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"> 
	$(function(){
		$('#feed').click(function(){
			location.replace("/"); 
		});
		$('#routine').click(function(){
			location.replace("/people"); 
		});
		$('#mypage').click(function(){
			location.replace("/mypage"); 
		});
	});
</script>
{% endblock %}
