{% extends "main/base.html" %}
{% load staticfiles %}
{% block style %}
<link rel ="stylesheet" href="{% static 'css/people.css' %}" />
{% endblock %}
{% block content %}
<div class="bottom-tab">
	<ul class="tabs">
		<li class="tab col s3"><a  href="/" id="feed"><i class="material-icons">dashboard</i></a></li>
		<li class="tab col s3"><a href= "/people" class="active"><i class="material-icons">group</i></a></li>
		<li class="tab col s3"><a href="/routine"  id="routine"><i class="material-icons">directions_run</i></a></li>
		<li class="tab col s3"><a href="/mypage"  id="mypage"><i class="material-icons">timelapse</i></a></li>
	</ul>
</div>
<div class="sub-tab">
	<div id="search" class="col s12">	
		<nav>
			<div class="nav-wrapper">
				<form>
					<div class="input-field">
						<input id="search" type="search" required>
						<label class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</div>
		</nav>
	</div>
</div>

<div class="contain container">
	<div class="row">
		<div id="all" class="col s12 no-padding">
			<div class="card">
				<ul class="collection">
					{% for user in users %}
					<li class="collection-item">
						<div class="row valign-wrapper no-margin">
							<div class="col s2">
								<img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
							</div>
							<div class="col s8 people-list">
								<span class="black-text">
									{{ user.name }}
								</span>
								<br />
								<span class="people-sex-man">
									♂
								</span>
								<span class="people-name">
									20세
								</span>
							</div>
							<div class="col s2">
								<a class="btn add-friend">+</a>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"> 
	$(function(){
		$('#feed').click(function(){
			location.replace("/"); 
		});
		$('#routine').click(function(){
			location.replace("/routine"); 
		});
		$('#mypage').click(function(){
			location.replace("/mypage"); 
		});
	});
</script>
{% endblock %}
