.contain {
    padding-top: 0px;
}
.exercise-video{
  margin-top: 53px;
}
.exercise-time{
  padding:50px;
  padding-top: 70px;
  text-align: center;
  font-size: 40px;
}
.exercise-name{
  background-color: #fff;
  padding:8px;
  text-align: center;
  font-size: 20px;
  position: fixed !important;
  top: 56px !important;
  width: 100%;
  box-shadow: 0px 0px 15px #aaa;
  z-index: 3;
}
.start{
  background-color: white;
  border:  solid 1px #2b90d9;
  color: #2b90d9;
}
.start:hover{
  background-color: rgba(83,100,220,0.7);
  border:  solid 1px #2b90d9;
  color: rgba(23,50,240,0.7);
}
.start:active{
  background-color: #2b90d9;
  border:  solid 1px #2b90d9;
  color: white;
}
.start:focus{
  background-color: #2b90d9;
  border:  solid 1px #2b90d9;
  color: white;
}
.next-tab{
  position: fixed !important;
  bottom: -4px !important;
  width: 100%;
  box-shadow: 0px 0px 5px #bbb;
  z-index: 3;
  background-color:#2b90d9; 
  color: #fff;
  height: 54px;
  font-size: 28px;
  font-weight: 200;
  border: none;
}
.start-button{
  height: 100vh;
}
