body{
  background-color: #282c37;
}
.logo{
  margin-top: 60px;
}
.login-contain{
  width: 80%;
}
.login-btn{
  width: 80%;
  background-color: #2b90d9;
  margin-top: 60px;
  margin-left: 10%;
  border-radius: 50px;
  height: 54px;
  font-size: 24px;
  font-weight: 300;
}