.add-friend{
	width: 36px;
	padding: 0;
	box-shadow: none;
	background-color: #fff;
	border:  solid 1px #D66D75;
	border-radius: none;
	color: #D66D75;
	border-radius: 50%;
}
.add-friend:active{
	width: 36px;
	padding: 0;
	box-shadow: none;
	background-color: #D66D75;
	border:  solid 1px #D66D75;
	border-radius: none;
	color: #fff;
	border-radius: 50%;
}
.add-friend:hover{
	width: 36px;
	padding: 0;
	box-shadow: none;
	background-color: #D66D75;
	border:  solid 1px #D66D75;
	border-radius: none;
	color: #fff;
	border-radius: 50%;
}
.people-name{
	font-size: 12px;
	font-weight: 100;
	color: #bbb;
}
.people-list{
	line-height: 16px;
}
.people-sex-man{
	color: blue;
}
.people-sex-girl{
	color:red;
}

.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 63px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}
.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #D66D75;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}
.btn:hover, .btn-large:hover {
    background-color: #D66D75 !important;
}